<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Editar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Editar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Nombre del producto"
      [(ngModel)]="productName"
      placeholder="Inserta el nombre"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Precio del producto"
      [(ngModel)]="productPrice"
      placeholder="Inserta el precio"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Código del producto"
      [(ngModel)]="productCode"
      placeholder="Inserta el código"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Categoría del producto"
      [(ngModel)]="productCategory"
      placeholder="Inserta la categoría"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Descripción del producto"
      [(ngModel)]="productDescription"
      placeholder="Inserta la descripción"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Candidad del producto"
      [(ngModel)]="productAmount"
      placeholder="Inserta la candidad"
    ></ion-input>
  </ion-item>
</ion-content>
